.comment {
    display: flex;
    margin-bottom: 1rem;
  }
  
  .initials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #bc4848;
    color: #fff;
    font-weight: bold;
    margin-right: 1rem;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .author {
    font-weight: bold;
    margin: 0;
  }
  
  .text {
    margin: 0;
  }
  